.gallery {
    text-align: center;
}

.current-image-wrapper {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.current-image-wrapper img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1.85s;
}

.current-image-wrapper .hideme {
    opacity: 0;
    transition: opacity 0s;
}

.thumbnails li,
.thumbnails a,
.thumbnails img {
    display: inline-block;
    width: 4.5em;
    height: 3em;
    border: none;
}

.thumbnails a {
    outline: none;
}
